<!DOCTYPE html>
<html>
<head>
    <title>Metadados do Servidor/Sensor</title>
</head>
<body>
    <h1>Metadados do Servidor/Sensor - IFRN CM</h1>
    <ul>
        <li><strong>ID do Sensor:</strong> {{ metadados.id_sensor }}</li>
        <li><strong>Localização:</strong> {{ metadados.localizacao }}</li>
        <li><strong>Tipo:</strong> {{ metadados.tipo }}</li>
        <li><strong>Unidade:</strong> {{ metadados.unidade }}</li>
        <li><strong>Natureza do Sensor:</strong> {{ metadados.natureza_sensor }}</li>
        <li><strong>Variável:</strong> {{ metadados.variavel }}</li>
        <li><strong>Versão do Servidor:</strong> {{ metadados.versao_servidor }}</li>
        <li><strong>Versão do Firmware:</strong> {{ metadados.versao_firmware }}</li>
    </ul>
    <p>Servidor operacional</p>
</body>
</html>
